/*





 ______     __  __     ______     ______   __    
/\  == \   /\ \/\ \   /\  == \   /\  ___\ /\ \   
\ \  __<   \ \ \_\ \  \ \  __<   \ \  __\ \ \ \  
 \ \_____\  \ \_____\  \ \_\ \_\  \ \_\    \ \_\ 
  \/_____/   \/_____/   \/_/ /_/   \/_/     \/_/ 
                                                 




*/

@font-face {
	font-family: 'beta';
	src: url('../fonts/beta.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'cereal';
	src: url('../fonts/cereal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0px;
	padding: 0px;
	background: #E0E6FF;
	color: #2F3545;
	font: 200 48px/1.5em 'beta', sans-serif;
}
a, a:link, a:visited {
	text-decoration: none;
	outline: none;
	color: #FFFFFF;
	background: #FF6D99;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a:hover, a:active {
	text-decoration: none;
	outline: none;
	color: #2F3545;
	background: none;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
.moss, a.moss:link, a.moss:visited {
	color: #FFFFFF;
	background: #62E2A4;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.moss:hover, a.moss:active {
	color: #2F3545;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}
.rose, a.rose:link, a.rose:visited {
	color: #FFFFFF;
	background: #F962B8;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.rose:hover, a.rose:active {
	color: #2F3545;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}
.cerise, a.cerise:link, a.cerise:visited {
	color: #FFFFFF;
	background: #E5348B;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.cerise:hover, a.cerise:active {
	color: #2F3545;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}
.watermelon, a.watermelon:link, a.watermelon:visited {
	color: #FFFFFF;
	background: #FF497F;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.watermelon:hover, a.watermelon:active {
	color: #2F3545;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}
.citrus, a.citrus:link, a.citrus:visited {
	color: #FFFFFF;
	background: #FF9D48;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.citrus:hover, a.citrus:active {
	color: #2F3545;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}
.persimmon, a.persimmon:link, a.persimmon:visited {
	color: #FFFFFF;
	background: #FF7356;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.persimmon:hover, a.persimmon:active {
	color: #2F3545;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}
.hi, a.hi:link, a.hi:visited, a.hi:hover, a.hi:active {
	color: #FFFFFF;
	background: linear-gradient(to bottom right, #FFB948, #FF43AD, #A732FF);
	font: 400 48px/1.5em 'cereal', sans-serif;
	padding: 10px 20px;
	margin: 0px;
	border: none;
	border-radius: 0px;
}
img {
	max-width: 100%;
	height: auto;
	border: 0px;
}
li, ul {
	list-style: none;
}
article {
	margin: 25px auto 25px 100px;
	padding: 25px;
	width: 400px;
	color: #2F3545;
	font: 200 48px/1.5em 'beta', sans-serif;
}

@media screen and (max-width: 400px) {
article {
	margin: 25px auto;
	padding: 25px;
	width: auto;
	color: #2F3545;
	font: 200 48px/1.5em 'beta', sans-serif;
	}
}

::selection {
	background: rgba(255, 194, 30, 0.99);
	color: #FFFFFF;
}